
@{
    ViewBag.Title = "AccessDenied";
}

<div class="card">
  <div class="card-body text-danger text-center">
    <h3>Access Denied</h3>
    <h5>Sorry! you are not authorized to view this page</h5>
  </div>
</div>

